@page {
    size: A4;
    margin: 0;
}

body {
    background-color: aliceblue;
    font-family:Calibri;
}

.container {
    width: 21cm;
    padding: 2cm;
    margin: 1cm auto;
    background: white;
}

body{
    font-family:Calibri;
}
thead, tr, td, th{
    border: 1px solid;
}
table{
    position: relative;
    top: 50px;
    right:50px;
}
td{
    width:200px;
    max-width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

th {
    width:200px;
    max-width: 300px;
    height:30px;
}
