.glass-panel {
  position: relative;
  bottom: 1px;
  height: 500px;
  color: #fff;
  margin: 40px auto;
  background-color: #578F53;
  border: 1px solid rgba(255,255,255,0.1);
  width: 100%;
  border-radius: 15px;
  padding: 32px;
  backdrop-filter: blur(10px);
}

.mb-3 {
  position: relative;
  bottom: 95px;
}

input[type=text], select {
  position: relative;
  top: 50px;
  width: 50%;
  padding: 8px 16px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 30px;
  text-align: center;
  color: black;
  background-color: white;
}

.submit{
  position: relative;
  bottom: 10px;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.submit:hover {
  background-color: #3e8e41
}

.submit:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.glass-panel1 {
    top: 100px;
    position: relative;
    max-width: 800px;
    align-items: center;
    left: 140px;
    display: flex;
    color: #fff;
    margin: 40px auto;
    background-color: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.1);
    width: 100%;
    border-radius: 15px;
    padding: 32px;
    backdrop-filter: blur(10px);
}

.glass-toolbar {
  position: relative;
  top: -100px;
}

.glass-button:hover {
  background-color: rgba(19, 14, 14, 0.986);
  color: gold;
  box-shadow: 0 5px;
}

.glass-button:active {
  box-shadow: 0 5px gold;
  transform: translateY(4px);
}

.glass-button::after {
  box-shadow: 0 5px black;
  transition: 20sec;
}


/* Extra styles for demo */
/* Article:  https://superdevresources.com/glassmorphism-ui-css/ */
body {
  background-color: #eadfce;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.glass-panel {
  max-width: 800px;
}

.glass-button {
  margin: 5px;
  margin-top: 40px;
}

.glass-panel h1, .glass-panel h1 a {
  position: relative;
  top: -15px;
  min-height: 100px;
  width: 90%;
  max-width: 700px;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  color: white;
  padding-top: 60px;
}

p {
  position: relative;
  bottom: 30px;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 32px;
  color: rgba(255,255,255,0.6);
}

select option{
  font-size: 28px;
}

.alert{
  position: absolute;
  align-items: center;
  right: 52px;
  bottom: 20px;
  height:50px;
  width: 80%;
  border-radius: 15px;
  padding: 20px;
  backdrop-filter: blur(5px);
  font-weight: 400;
  background-color: white;
  border: 3px solid green;
}

.alert h3::after{
  transition-delay: 3000ms;
  display: none;
}

.alert h3{
  text-shadow: 0 0 2px #ccc;
}
