$navBar: #1E2632;
$background: #f7f8f9;
$text: #3A3C42;

body {
    background-color: $background;
    color: $text;
}

h1 {
    margin-bottom: 30px;
}

.navbar {
    background-color: $navBar;
    a{
        color: #FFF;
    }
}

.sub-nav{
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(204 , 204, 204, 0.3);
    margin-bottom: 40px;
    a {
        color: $primary;
    }
}

.card {
    box-shadow: 0 2px 4px rgba(204,204,204, 0.8);
    padding: 20px 40px;
}

#text {
    display: hidden;
}

